---
### This is very important to make sure this file doesn't contain any TAB
### symbols instead of spaces: the hiera YAML parser will choke to death with
### uncomprehensive error message and you'll waste a lot of time debugging it.
bigtop::hadoop_head_node: "{{ hadoop_head_node }}"
#bigtop::standby_head_node: "standby.head.node.fqdn"

hadoop::hadoop_storage_dirs:
  - {{ hadoop_storage_dir }}

hadoop_cluster_node::cluster_components:
#  - crunch
#  - flume
#  - giraph
#  - ignite-hadoop
#  - hbase
#  - hcat
#  - hive
#  - httpfs
#  - hue
#  - mahout
  - mapred-app
#  - oozie
#  - pig
#  - solrcloud
#  - spark
#  - sqoop
#  - sqoop2
#  - tachyon
#  - tez
  - yarn
#  - zookeeper

bigtop::jdk_package_name: {{ jdk_package_name }}
bigtop::bigtop_repo_uri: {{ bigtop_yumrepo_uri }}
